<div class="contenedor d-flex justify-content-center align-items-center flex-column">
    <h2>Estar en contacto</h2>
    <h3>Si deseas más información puedes contactarme</h3>
    <div class="d-flex flex-column">
        <li class="contenedor-contacto fa-solid fa-phone fa-lg"><a class="text-white icono-contacto" href="tel:3225936133" target="_blank">  + (57)  322-593-6133</a></li>
        <li class="fa-solid fa-envelope fa-lg"><a class="text-white icono-contacto" href="mailto:carlosandresgoo@gmail.com.com" target="_blank">carlosandresgoo@gmail.com</a></li>
    </div>
    <app-subir-icono class="icono-subir"></app-subir-icono>
    <div class="contenedor-redes d-flex align-items-center justify-content-around mt-5">
        <a class="fa-brands fa-linkedin fa-2xl" style="color: white;"
            href="https://www.linkedin.com/in/carlos-andr%C3%A9s-ruiz-hinestroza/" target="_blank"></a>
        <a class="fa-brands fa-github fa-2xl" style="color: white;" href="https://github.com/carlosandresgoo"
            target="_blank"></a>
        <a class="fa-brands fa-square-facebook fa-2xl" style="color: white;"
            href="https://www.facebook.com/andres.ruiz.37853/" target="_blank"></a>
    </div>
    <h4 style="color: white; font-size:smaller;">Creado por Carlos Andrés Ruiz</h4>
</div>
