
<div class="contenedor" id="contenedor">
    <div class="sub-contenedor">
        <app-inicio></app-inicio>
        <app-navbar></app-navbar>
    </div>
</div>
<div class="contenedor-2" id="contenedor-2">
    <div class="sub-contenedor-2">
        <app-proyectos></app-proyectos>
    </div>
</div>
<div class="contenedor-3" id="contenedor-3">
    <div class="sub-contenedor-3">
        <app-sobre-mi></app-sobre-mi>
    </div>
</div>
<div class="contenedor-4" id="contenedor-4">
    <div class="sub-contenedor-4">
        <app-contacto></app-contacto>
    </div>
</div>
