<div class="d-flex justify-content-center align-items-center flex-column ">
  <h2 class="sobre-title">Sobre mí</h2>
  <div class="container fade-in" >
    <div class="card">
      <div class="form">
        <div class="left-side">
          <div class="top-div">
            <h2 class="text-center">Carlos Andrés Ruiz Hinestroza</h2>
          </div>
          <div class="medium-div ">
            <p >Soy un desarrollador full stack , cuento con +6 meses de experiencia además soy
              químico industrial graduado del ITM (Instituto Tecnológico Metropolitano de Medellín). Disfruto trabajar
              en equipo y creo firmemente en la importancia de la colaboración y la retroalimentación constructiva. </p>
          </div>
          <div class="descarga-cv">
            <a [href]="pdfService.getPdfUrl()" download="CV-Carlos_Ruiz.pdf" class="btn-descargar">
              <span class="icono-descargar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20px"
                  height="20px">
                  <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                </svg>
              </span>
              <span class="texto-descargar">Descargar CV</span>
            </a>
          </div>
          <div class="row">
            <div class="col-md-6 bordered-right">
              <h2 class="text-center">Educación</h2>
              <ul class="m-4">
                <li>Quimico industrial-Instituto Tecnológico Metropolitano (ITM) </li>
                <li>Desarrollador Full Stack-Mindhub</li>
              </ul>
            </div>
            <div class="col-md-6 bordered-left">
              <h2 class="text-center">Experiencia</h2>
              <ul class="m-4">
                <li>Desarrollador de Software en Sysman - <span class="badge text-bg-primary">Actual</span></li>
                <li>Desarrollador Full stack</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-side">
          <img class="img_andres" src="../../../assets/foto_2.jpeg">
        </div>
      </div>
    </div>
  </div>
</div>
