@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-title {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 80px;
}

.container .card {
    height: 550px;
    width: 1000px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    cursor: pointer;

}

.container .card .form {
    width: 100%;
    height: 100%;
    display: flex;

}

.container .card .left-side {
    width: 50%;
    background-color: rgb(230, 230, 230);
    height: 100%;

}

.form .left-side .top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    position: relative;
}

.form .left-side .top-div h2 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 8000;
}


.form .left-side .top-div p {
    font-size: 14px;
}

.form .left-side .medium-div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    padding: 20px 45px;
}

.form .left-side .medium-div h1:nth-child(1) {
    font-size: 40px;

}

.form .left-side .medium-div h1:nth-child(2) {
    font-weight: 100;
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 12px;
}

.form .left-side .medium-div p {
    font-size: 14px;
}

.form .left-side .last-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    font-size: 17px;
    font-weight: 600px;
}


.container .card .right-side {
    width: 50%;
    background-color: #000;
    height: 100%;
    z-index: 10;
}
.img_andres{
    height: 100%;
    width: 100%;
    background-position: center;
}

.descarga-cv {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}

.btn-descargar {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #0056b3;
}

.icono-descargar {
  margin-right: 0.5rem;
}

.texto-descargar {
  font-weight: bold;
}
.row {
  display: flex;
  justify-content: space-between;
}

.col-md-6 {
  width: 48%;
  padding: 1rem;
  background-color:rgb(230, 230, 230);
  border-radius: 0.25rem;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.bordered-right {
  border-right: 5px solid #333;
}
.bordered-left {
  border-left: 5px solid #333;
}

p {
  text-align: justify;
}

li{
font-size: .8rem;
}
span{
  padding: .2rem;
  font-size: .8rem;
}
ul li {
  width: 210px;
  margin-bottom: 20px;
}


@media (min-width: 320px) and (max-width: 767px) {

  .form .left-side .top-div h2 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 8000;

  }
  .form .left-side .medium-div p {
    font-size:8px;
}
.form .left-side .medium-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  }
  .form .left-side .top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    position: relative;
}
.btn-descargar {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 0;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
  ul li {
    width: 40px;
    font-size: 8.5px;
    border-right: none;
  }
  h2 {
    font-size: .7rem;
  }
  .col-md-6 {
    width: 48%;
    padding: .2rem;
    background-color:rgb(230, 230, 230);
    border-radius: 0.25rem;
    border-right: none;
    border-left: none;
  }
  span{
    padding: .2rem;
    font-size: .4rem;
  }
  .container .card {
    height: 520px;
    width: 1000px;
}


}

@media (min-width: 768px) and (max-width: 1023px){

    .container .card {
        max-width: 100%;
    }
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: .2rem;
    }
    .col-md-6 {
      width: 49%;
      padding: .2rem;
    }
    ul li {
      width: 150px;
    }

}
