<div class="contenedor d-flex justify-content-center align-items-center flex-column">
    <div>
        <img class="foto" src="../../../assets/Mi_foto.jpeg">
    </div>
    <div class="datos d-flex align-items-center flex-column justify-content-center mt-3">
        <div>
            <h2> Carlos Andrés Ruiz Hinestroza</h2>
            <h3>Desarrollador web Full Stack</h3>
        </div>
        <div>
            <i class="fa-brands fa-linkedin" style="color: #1492e1;"></i>
        </div>
    </div>
</div>