<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left-side">
                    <div class="top-div">
                        <h2>Carlos Andrés Ruiz</h2>
                        <span></span>
                    </div>
                    <div class="medium-div">
                        <h1>rihana</h1>
                        <h1>ramoca</h1>
                        <p>I'm a usual designer from mars.</p>
                        <p>Currently working with <a href="#">@bbbootstrap</a></p>
                        <p>as concept trainee.</p>
                    </div>
                    <div class="icons">
                        <button>Say Hello</button>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="last-div">
                        <p>Codelab</p>

                        <div class="hexa">
                            <span class="hexagonal">
                                <small></small>
                                <small></small>
                                <small></small>
                            </span>
                            <p>hexa</p>
                        </div>
                        <p>goldline</p>
                    </div>
                </div>
                <div class="right-side">
                    <img src="../../../assets/foto_2.jpeg">

                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <iframe [src]="pdfService.getPdfUrl()"></iframe>
        <a [href]="pdfService.getPdfUrl()" download="CV-Carlos_Ruiz.pdf"><img
                src="../../../assets/descargar_PDF.png"></a>
    </div> -->
</div>
<div class="proyectos-terminados">


</div>